{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TECH JAM RAIZAP{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'activities/base.css' %}">
    <link rel="stylesheet" href="{% static 'activities/home.css' %}">
</head>

<body>

    <div class="app-wrapper">

        <!-- ヘッダー -->
        <header class="header">
            <div class="header-inner">
                <button class="hamburger" aria-label="menu">
                    ☰
                </button>
                <h1 class="header-title">
                    {% block page_title %}ホーム{% endblock %}
                </h1>                
            </div>
        </header>

        <nav class="side-menu" id="sideMenu" aria-hidden="true">
            <!-- メニュー用ヘッダー -->
    <div class="menu-header">
        <span></span>
        <h2>{% block hamburger_title %}ホーム{% endblock %}</h2>
        <button class="close-btn" aria-label="close">×</button>
    </div>

    <!-- ユーザー情報 -->
    <div class="menu-profile">
        <div class="avatar"></div>
        <div>
            <p class="name">お花大好き先生</p>
            <p class="profile-link">プロフィールを表示</p>
        </div>
    </div>

    <!-- メインカード -->
    <div class="menu-main-card">
        <div class="flower-icon"></div>
        <p>お花図鑑</p>
    </div>

    <!-- メニューリスト -->
    <ul class="menu-list">
        <li>設定</li>
        <li>設定</li>
        <a href="{% url 'login' %}" class="logout">ログアウト</a>
    </ul>
        </nav>

        <!-- メイン -->
        <main class="main">
        {% if request.resolver_match.url_name == "login" %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}

            {% block content %}
            {% endblock %}
        </main>

        <!-- フッター（下部ナビ） -->
        <footer class="footer">
            <nav class="bottom-nav">
                <a href="{% url 'home' %}" class="nav-item">ホーム</a>
                <a href="#" class="nav-item">グループ</a>
                <a href="#" class="nav-item">アイデア</a>
                <a href="{% url 'profile' %}" class="nav-item">プロフィール</a>
            </nav>
        </footer>

    </div>

    <script src="{% static 'activities/hamburger.js' %}"></script>

</body>

</html>