{% extends 'activities/base.html' %}
{% load static %}

{% block title %}ホーム{% endblock %}
{% block page_title %}ホーム{% endblock %}
{% block hamburger_title %}ホーム{% endblock %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap" rel="stylesheet">
<div class="home">

    <!-- 花エリア -->
    <section class="flower-area">
        {% if growth_stage == 0 %}
            <img src="{% static 'activities/images/苗-黄.png' %}" class="flower-img">
        {% elif growth_stage == 1 %}
            <img src="{% static 'activities/images/芽-黄.png' %}" class="flower-img">
        {% elif growth_stage == 2 %}
            <img src="{% static 'activities/images/蕾-黄.png' %}" class="flower-img">
        {% else %}
            <img src="{% static 'activities/images/花-黄.png' %}" class="flower-img">
        {% endif %}
    
        <p class="days">
            お花と過ごして<br>
            <span>{{ total_days }}日</span>
        </p>
    </section>
    

    <!-- おすすめアイデア -->
    <section class="recommend">
        <h2>あなたへのおすすめアイデア</h2>
    
        <div class="slider">
            <div class="slider-inner" id="cardSlider">
    
                <!-- カード①：おすすめ -->
                <div class="slide">
                    <div class="recommend-card">
                        <div class="recommend-header">
                            <div class="icon"></div>
                            <div class="title">健康ガチ勢</div>
                        </div>
    
                        <p class="description">
                            ～～～～～～～～～～～～～～～～～～
                        </p>
    
                        <div class="actions">
                            <form method="post" action="{% url 'stamp_skip' %}" id="skipForm">
                                {% csrf_token %}
                                <button id="skipBtn" class="btn sub">
                                    <!-- {% if not can_stamp %}disabled{% endif %} -->
                                    今日はパス
                                </button>
                            </form>
                        
                            <form method="post" action="{% url 'stamp_done' %}" id="doneForm">
                                {% csrf_token %}
                                <button  id="doneBtn" class="btn main">
                                    できた！
                                </button>
                            </form>
                        </div>                       
                    </div>
                </div>
    
                <!-- カード②：できたスタンプ -->
                <div class="slide">
                    <div class="stamp-card">
                        <h3>できたスタンプ</h3>

                        <div class="stamps">
                            {% for i in "12345" %}
                                <span class="stamp
                                    {% if forloop.counter <= done_days %}
                                        done
                                    {% elif forloop.counter <= total_days %}
                                        skip
                                    {% endif %}
                                "></span>
                            {% endfor %}
                        </div>                                                                                                               
    
                        <!-- <p class="stamp-text">
                            あと <strong>5日</strong> でお花が成長するかも！？
                        </p> -->
                        <p class="stamp-text">
                            {% if next_stage_days == 0 %}
                                🎉 お花が成長しました！
                            {% else %}
                                あと <strong>{{ next_stage_days }}日</strong> でお花が成長するかも！？
                            {% endif %}
                        </p>                        
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- 下部カード -->
    <section class="bottom-cards">
        <div class="card">
            <h3>人気の健康アイデア</h3>
            <p>健康になろうさん</p>
            <p>～～～～～～～～～～</p>
        </div>

         <div class="card">
            <h3>グループの健康アイデア</h3>
            <p>健康になろうさん</p>
            <p>～～～～～～～～～～</p>
        </div>
    </section>

</div>

<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        const slider = document.getElementById("cardSlider");
    
        const doneBtn = document.getElementById("doneBtn");
        const doneForm = document.getElementById("doneForm");
    
        const skipBtn = document.getElementById("skipBtn");
        const skipForm = document.getElementById("skipForm");
    
        let currentIndex = Number(localStorage.getItem("homeSlide")) || 0;
        let currentIndex = 0;
        const maxIndex = 1;
    
        function updateSlide() {
            slider.style.transform = `translateX(-${currentIndex * 100}%)`; -->
            <!-- // localStorage.setItem("homeSlide", currentIndex); -->
        <!-- } -->
    
        <!-- updateSlide();
    
        // function slideAndSubmit(form) {
        //     currentIndex = 1;
        //     updateSlide();
        //     setTimeout(() => form.submit(), 300);
        // }
    
        if (doneBtn && doneForm) {
            doneBtn.addEventListener("click", (e) => {
                e.preventDefault();
                doneBtn.disabled = true;
                skipBtn.disabled = true;
                slideAndSubmit(doneForm);
            });
        }
    
        if (skipBtn && skipForm) {
            skipBtn.addEventListener("click", (e) => {
                e.preventDefault();
                doneBtn.disabled = true;
                skipBtn.disabled = true;
                slideAndSubmit(skipForm);
            });
        }
    
        let startX = 0;
    
        slider.addEventListener("touchstart", (e) => {
            startX = e.touches[0].clientX;
        });
    
        slider.addEventListener("touchend", (e) => {
            const diff = startX - e.changedTouches[0].clientX;
            if (Math.abs(diff) < 50) return;
    
            if (diff > 0 && currentIndex < maxIndex) currentIndex++;
            if (diff < 0 && currentIndex > 0) currentIndex--;
    
            updateSlide();
        });
    });
    </script>     -->

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slider = document.getElementById("cardSlider");
            const doneBtn = document.getElementById("doneBtn");
            const skipBtn = document.getElementById("skipBtn");
        
            let currentIndex = 0;
            const maxIndex = 1;
        
            function updateSlide() {
                slider.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
        
            function getCSRFToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }
        
            function submitStamp(url) {
                doneBtn.disabled = true;
                skipBtn.disabled = true;
        
                // カード②へ
                currentIndex = 1;
                updateSlide();
        
                fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCSRFToken(),
                        "X-Requested-With": "XMLHttpRequest",
                    },
                })
                .then(res => res.json())
                //.then(data => {
                  //  if (data.error) return;
        
                    // 1枚目の数字を即更新
                   // document.querySelector(".days span").textContent =
                     //   data.total_days + "日";
                //});
                .then(data => {
                    if (data.error) return;
                    // 日数更新
                    document.querySelector(".days span").textContent =
                    data.total_days + "日";
                    // 成長したときだけ画像更新
                    if (data.growth_stage !== undefined) {
                        const img = document.querySelector(".flower-img");
                        img.src = data.image_url;
                        localStorage.setItem("flowerImage", data.image_url);
                    }
                });

            }
        
            doneBtn.addEventListener("click", (e) => {
                e.preventDefault();
                submitStamp("{% url 'stamp_done' %}");
            });
        
            skipBtn.addEventListener("click", (e) => {
                e.preventDefault();
                submitStamp("{% url 'stamp_skip' %}");
            });
        
            // スワイプ
            let startX = 0;
            slider.addEventListener("touchstart", (e) => {
                startX = e.touches[0].clientX;
            });
        
            slider.addEventListener("touchend", (e) => {
                const diff = startX - e.changedTouches[0].clientX;
                if (Math.abs(diff) < 50) return;
                if (diff > 0 && currentIndex < maxIndex) currentIndex++;
                if (diff < 0 && currentIndex > 0) currentIndex--;
                updateSlide();
            });
        });
        </script>
        
{% endblock %}