<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>

<body>
    <h1>ログイン</h1>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>ユーザー名</label><br>
            <input type="text" name="username" required>
        </div>

        <div>
            <label>パスワード</label><br>
            <input type="password" name="password" required>
        </div>

        <button type="submit">ログイン</button>
    </form>

    <p>
        アカウントをお持ちでない方は
        <a href="{% url 'signup' %}">新規登録</a>
    </p>
    {% if messages %}
    {% for message in messages %}
    <div style="color: green;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <p>ログイン中です</p>
    {% else %}
    <p>未ログインです</p>
    {% endif %}
    <p>ログイン中：{{ user.username }}</p>

</body>

</html>